#container {
  height: 20vh;
}

.div1 {
  background-color: green;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: clamp(10px,4vw, 15px);
}
.logo{
color: white;
}

.tagline{
  color: white;
  font-size: clamp(9px,3.5vw, 15px);
}

.div2 {
  background-color: black;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.links{
  margin: clamp(6px,7vw, 30px);
  color: yellow;
  text-decoration: none;
  text-transform: uppercase;
  font-size: clamp(5px,3.5vw, 15px);
  
}

/* ////
////////
//////////// */
/* tablet media section */
@media only screen and (min-width: 426px) {
  #container {
    background-color: gainsboro;
    height: 15vh;
    display: flex;
  }
  
  .div1 {
    background-color: green;
height: 100%;
width: 40%;
  }
  .logo{
  color: white;
  }
  
  .tagline{
    color: white;
  
  }
  
  .div2 {
    background-color: black;
    height: 100%;
    width: 60%;
  }
  .links{
    
    color: yellow;
    text-decoration: none;
    text-transform: uppercase;
  
    
  }
}
/* laptop media section */
@media only screen and (min-width: 769px) {
}

/* large media section */
@media only screen and (min-width: 1441px) {
}
