#container{

background-color: blue;
height: 20vh;
}

.div1{
    background-color: blueviolet;
height: 40%;
display: flex;
justify-content: center;
align-items: center;
}

.div2{
    background-color: rgb(211, 218, 122);
    height: 60%;
}




/* ////
////////
//////////// */
/* tablet media section */
@media only screen and (min-width: 426px){
    #container{

        background-color: rgb(0, 0, 0);
        height: 20vh;
        }    

}
/* laptop media section */
@media only screen and (min-width: 769px){
    #container{

        background-color: rgb(45, 197, 40);
        height: 20vh;
        }    

}

/* large media section */
@media only screen and (min-width: 1441px){
    #container{

        background-color: rgb(192, 32, 32);
        height: 20vh;
        }    

}
